{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'posts/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'posts/css/card-inform.css' %}">
    <title>Document</title>
</head>
<body>
    <header style="background-image: url('{{post.images.first.file.url}}');" class="header">
<!--    <header style="background-image: url('{{post.images.first.file.url}}');" class="header">-->
        <div class="container">
            <nav class="header__top">
                <div class="header__menu">
                    <a href="#"><img src="{% static 'posts/images/menu-qr.svg' %}" alt=""></a>
                </div>
                <div class="header__logo">
                    <img src="{% static 'posts/images/qr-logo.svg' %}" alt="">
                </div>
            </nav>
        </div>
    </header>
    <div class="header__content">
        <p class="header__content-p">{{post.title}}</p>
        <div class="header__gid">
            <img src="{% static 'posts/images/gid.svg' %}" alt="">
            <p>на этой странице есть аудиогид</p>
            <img src="{% static 'posts/images/gid-play.svg' %}" alt="">
        </div>
        <p class="header__content-p">
        {{post.description}}
        </p>
    </div>

</body>
</html>